@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

@layer base {
  body {
    @apply font-fira bg-black leading-normal font-[450] text-[#607B96];
  }
}

@theme {
  --font-fira: "Fira Code";
}

@layer utilities {
  .nav {
    @apply border-[#1E2D3D] tracking-[1px] transition-colors ease-in hover:text-white;
  }
  .nav::after {
    @apply absolute -bottom-[2px] left-1/2 h-[2px] w-0 rounded-xl bg-none duration-400 content-[''] md:bg-[#FEA55F];
    transform-origin: center;
    transform: translateX(-50%) scaleX(0);
  }
  .nav:hover::after {
    @apply w-full;
    transform: translateX(-50%) scaleX(1);
  }

  .active-link {
    @apply text-white; /* Стили для текста */
  }

  .active-link::after {
    @apply w-full text-white;
    transform: translateX(-50%) scaleX(1);
  }

  .swiper {
    @apply h-[691px] px-5;
  }

  .swiper-wrapper {
    @apply px-2;
  }

  .swiper-slide {
    @apply blur-[2px];
  }

  .swiper-custom {
    @apply rounded-2xl bg-[#011221] p-5 text-[14px] leading-[170%] break-all;
  }

  .swiper-slide-active {
    @apply blur-none;
  }
}
/* 
@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.bg-moving {
  animation: moveBackground 10s linear infinite;
} */

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 10s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}
